* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(23, 42, 57);
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(6px);
  height: 64px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 100px;
  width: auto;
  display: block;
  transition: transform 0.2s ease;
  margin-top: 20px;
}

.logo img:hover {
  transform: scale(1.15) rotate(-2deg);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1100px;
  margin: 72px auto 60px;
  padding: 0 32px;
}

.title-content {
  flex: 1;
}

h1 {
  color: rgb(236, 240, 246);
  font-size: 70px;
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px 50px;
  margin-right: 100px;
}

.title-bg {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 6px 18px gray;
}
.link {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(90deg, #e5e5f1 0%, #b9d4f1 100%);
  color: rgb(64, 64, 88);
  padding: 14px 40px;
  border-radius: 25px;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  margin-left: 110px;
  box-shadow: 0 4px 12px rgb(25, 27, 39);
}

h2 {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 30px;
}
h3 {
  font-size: 18px;
  font-family: "Bevan", serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(214, 199, 226);
}

.content {
  margin: 70px;
  color: white;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.sketch img {
  width: 500px;
  border-radius: 10px;
  margin: 20px;
  margin-left: -5px;
  margin-bottom: -3px;
  box-shadow: 0 6px 18px rgb(25, 27, 39);
}

.link-r {
  color: rgb(185, 212, 241);
}
.refs {
  color: rgb(255, 255, 255);
}

.footer {
  width: 100%;
  margin: 0;
  background-color: #c8d7e0;
  padding: 5px 0;
  color: rgb(40, 62, 82);
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.footer-content {
  margin: 20px auto;
  padding-left: 70px;
  letter-spacing: 1px;
}
